<% provide(:title, "QtQへのログイン") %>
<%= render partial: 'common/header' %>
<div>
<div class="link-to-root">
  <%= link_to root_path do %>
    <%= image_tag "logo-black.png" %>
  <% end %>
</div>
<div class="signup-box">
  <h2>ログイン</h2>
  <%= form_for :session, url: login_path, html: { id: 'login-form' } do |f| %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.email_field :email, class: 'mdl-textfield__input', placeholder: 'メールアドレス...' %>
      <% f.label :email, class: 'mdl-textfield__label' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.password_field :password, class: 'mdl-textfield__input', placeholder: 'パスワード...' %>
      <% f.label :password, class: 'mdl-textfield__label' %>
    </div>
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect remember-me-checkbox" for="remember-checkbox">
      ログインを保持
      <%= f.check_box :remember_me, class: "mdl-switch__input", id: "remember-checkbox", checked: true %>
      <span class="mdl-switch__label"></span>
    </label>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent login-send-button">
      ログイン
    </button>
  <% end %>
  <%= link_to "/auth/facebook" do %>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--green facebook-button">
      Facebookアカウントでログイン
    </button>
  <% end %>
  <div class='mb10'><%= link_to "パスワードを忘れた場合", new_password_reset_path, class: "text-right mt10", style: "margin-left: 53px;" %></div>
  <div class="a-divider"><h5>アカウントを持っていない方は</h5></div>
  <%= link_to new_user_path do %>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--green login-to-signup-button" style='margin-left: 76px;'>
      新規登録画面へ
    </button>
  <% end %>
</div>
</div>
