<% provide(:title, "パスワードのリセット") %>

<div class="link-to-root">
  <%= link_to root_path do %>
    <%= image_tag "logo-black.png" %>
  <% end %>
</div>
<div class="signup-box">
  <h2>パスワードの再設定</h2>
  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= hidden_field_tag :email, @user.email %>
    <%= render 'shared/error_messages' %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.password_field :password, class: 'mdl-textfield__input', placeholder: 'パスワード...' %>
      <% f.label :password, class: 'mdl-textfield__label' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.password_field :password_confirmation, class: 'mdl-textfield__input', placeholder: 'パスワード...' %>
      <% f.label :password_confirmation, class: 'mdl-textfield__label' %>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored password-reset-button" style="margin-bottom: 23px;">
      パスワードを再設定
    </button>
  <% end %>
</div>
