<% provide(:title, "パスワードをお忘れの方") %>
<%= render partial: 'common/header' %>
<div class="link-to-root">
  <%= link_to root_path do %>
    <%= image_tag "logo-black.png" %>
  <% end %>
</div>
<div class="signup-box">
  <h2>パスワードをお忘れの方</h2>
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.email_field :email, class: 'mdl-textfield__input', placeholder: 'メールアドレス...' %>
      <% f.label :email, class: 'mdl-textfield__label' %>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored password-reset-button" style="margin-bottom: 23px;">
      リセットメール送信
    </button>
  <% end %>
  <div class="a-divider"><h5>アカウントを持っていない方は</h5></div>
  <%= link_to new_user_path do %>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style='margin-left: 81px;'>
      新規登録画面へ
    </button>
  <% end %>
</div>
