<% provide(:title, "パスワードをお忘れの方") %>

<div class="link-to-root">
  <%= link_to root_path do %>
    <%= image_tag "tree.png" %>
  <% end %>
</div>
<div class="signup-box">
  <h2>パスワードをお忘れの方</h2>
  <span class="reset-pass-text">メールアドレスを入力して、<br>リセットリンクを受け取ってください<br><br></span>
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: "form-control" %>
    <%= f.submit "送信", class: "signup-submit" %>
  <% end %>
  <div class="a-divider"><h5>新規登録がまだの方はこちら</h5></div>
  <%= link_to "アカウントを作成", new_user_path, class: "link-to-signup" %>
</div>
