<div class="modal fade" id="learning-edit-modal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title text-center" id="reviewModalLabel">学習内容の編集</h5>
      </div>
      <div class='learning-new-modal-body'>
        <div class='modal-inner-box'>
          <div class='modal-image-box'>
            <%= image_tag user_avatar_or_default(current_user), class: "avatar-img learning-new-modal-img" %>
          </div>
          <div>
            <%= fa_icon 'angle-left', class: 'modal-angle-left' %>
          </div>
          <div class='modal-form-box'>
            <%= form_for(@learning) do |f| %>
              <%= hidden_field_tag :edit_s3_learning_id, @learning.id %>
              <%= hidden_field_tag :url, request.url %>
              <%= hidden_field_tag :image_delete_flag, false %>
              <div class="mdl-textfield mdl-js-textfield" style='width: 100%'>
                <%= f.text_field :title, class: 'mdl-textfield__input p10 edit-learning-title-field', placeholder: 'タイトル...' %>
              </div>
              <div class="mdl-textfield mdl-js-textfield form-group" style='width: 100%'>
                <%= f.text_area :description, class: 'form-control learning-modal-text-area edit-learning-modal-text-area', rows: '12', placeholder: '学習のメモなど...' %>
              </div>
              <ul id='edit-learning-tags' class='mb10'>
                <% @learning.tags.each do |tag| %>
                  <li><%= tag.name %></li>
                <% end %>
              </ul>
<!-- 習熟度のedit機能一旦保留 -->
           <!--    <div class='clearfix proficiency-slider-box'><%#= f.range_field :proficiency, class: "mdl-slider mdl-js-slider", min: 0, max: 100, tabindex: 0, id: 'edit-learning-slider' %>
              </div> -->
              <div id="edit-learning-images-preview">
                <% @learning.images.each do |image| %>
                  <img src=<%= image %> class="learning-image edit-learning-image">
                <% end %>
              </div>
              <div class="upload-box pull-left">
                <%= fa_icon 'image', class: 'learning-upload-button learning-image-icon edit-learning-image-button mt10' %>
                <%= fa_icon 'trash', class: 'edit-learning-trash-image' %>
                <%= f.file_field :images, id: 'edit-learning-image-files', multiple: true %>
              </div>
<!-- 習熟度のedit機能一旦保留 -->
<!--               <div class='pull-left blue-black proficiency-level header-study-time'>
                <span>習熟度</span>
                <span id='edit-study-time'><%= @learning.proficiency %>%</span>
                <div class="header-proficiency-level-box">
                  <p class="header-proficiency-level-comment">習熟度によって次回の復習日が変わります</p>
                </div>
              </div> -->
              <% if @learning.finished %>
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect pull-left edit-finish-checkbox" for="edit-finish-checkbox">
                  <span class='finish-letter'>復習完了</span>
                  <%= f.check_box :finished, class: "mdl-switch__input", id: "edit-finish-checkbox", checked: @learning.finished %>
                  <span class="mdl-switch__label"></span>
                </label>
              <% end %>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right mr10 mt10">
                編集する
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
