<% if like = current_user.likes_learning?(learning) %>
  <%= link_to learning_learning_like_path(like, learning_id: learning.id), method: :delete, id: "learning-like-button",
    class: 'learning-like-wrapper liked light-blue', remote: true do %>
      <%= fa_icon 'check', class: 'white' %>
      <span class='white mr10'>いいね済み</span>
  <% end %>
<% else %>
  <%= link_to learning_learning_likes_path(learning), method: :post, id: "learning-like-button", class: 'learning-like-wrapper light-blue', remote: true do %>
    <%= fa_icon 'thumbs-up', class: 'learning-like-thumbs-up' %>
    <span>いいね</span>
  <% end %>
<% end %>
<span class='learning-like-balloon'><%= learning.likes_count || 0 %></span>
