<div class='each-comment-box'>
  <div class='comment-header flex'>
    <%= image_tag user_avatar_or_default(current_user), class: 'comment-user-image' %>
    <div class='post-comment-info'>
      コメントを投稿する
    </div>
  </div>
  <div class='comment-body'>
    <div class='comment-body-inner'>
      <div class='post-comment-form'>
        <%= form_for @comment, remote: true do |f| %>
          <%= hidden_field_tag :learning_id, @learning.id %>
          <%= f.text_area :body, class: 'post-comment-body form-control', placeholder: 'コメントを入力してください' %>
          <%= f.submit '投稿', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right mt10 post-comment-submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
