<div id="sidebar" class='sidebar'>
  <div class='back-white p10'>
    <div class='review-modal br4' data-toggle="modal" data-target="#review-modal">
      <%= image_tag 'review.png', class: 'review-modal-button' %>
    </div>
  </div>
  <div class="modal fade review-sidebar" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title text-center blue-black" id="exampleModalLabel">新しい学びを記録しましょう！</h5>
        </div>
        <div class='learning-new-modal-body'>
          <div class='modal-inner-box'>
            <div class='modal-image-box'>
              <%= image_tag user_avatar_or_default(current_user), class: "avatar-img review-avatar" %>
            </div>
            <div>
              <%= fa_icon 'angle-left', class: 'review-modal-angle-left' %>
            </div>
            <div class='modal-form-box'>
              <%= form_for(@review) do |f| %>
                <%= hidden_field_tag :learning_id, @learning.id %>
                <div class="mdl-textfield mdl-js-textfield form-group" style='width: 100%'>
                  <%= f.text_area :description, class: 'form-control learning-modal-text-area', rows: '8', placeholder: '復習の気づきをメモしましょう...' %>
                </div>
                <input class="mdl-slider mdl-js-slider" type="range" name='proficiency' min="0" max="100" value="80" tabindex="0" id='review-slider'>
                <div class='modal-form-button-box clearfix'>
                  <div class='pull-left blue-black proficiency-level'><span>習熟度</span><span id='review-level'>80%</span></div>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right">
                    復習完了!!
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='mb10 back-white mt10 pb10'>
    <%= image_tag 'ex.png' %>
  </div>
</div>
