<% provide(:title, @learning.title) %>
<%= render partial: 'common/header' %>
<div class='row m0 p0' id="main-wrapper">
  <div id='main-container' class='clearfix'>
    <div id="content" class='m0a main learning-main'>
      <div class='learning-main-header'>
        <%= image_tag user_avatar_or_default(current_user), class: 'avatar-img' %>
        <%= link_to "@#{@user.name}", user_path(@user), class: 'user-name' %>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent learning-new-modal learning-edit-modal pull-right" data-toggle="modal" data-target="#learning-new-modal">
          編集
        </button>
      </div>
      <h1 class='text-left'><%= @learning.title %></h1>
      <div class='learning-tag-list'>
        <% ['rails', 'ruby', 'オブジェクト指向'].each do |tag| %>
        <!-- TODO: tag作成したら置き換える -->
        <%# @learning.tags.each do |tag| %>
          <%= link_to tag, '#' %>
        <% end %>
      </div>
      <%# if @learning.image %>
        <%= link_to 'https://s3-ap-northeast-1.amazonaws.com/rootedlearning/uploads/default/avatar.jpg', target: '_blank' do %>
          <%= image_tag 'https://s3-ap-northeast-1.amazonaws.com/rootedlearning/uploads/default/avatar.jpg', class: 'learning-img' %>
        <% end %>
      <%# end %>
      <div class='blue-black learning-description'>
        <%= simple_format(@learning.description) %>
      </div>
      <div class='item-wrapper'>
        <div class='item-header'>
          <ol class="breadcrumb p20 mb0">
            <li class="breadcrumb-item active blue-black user-main-comparison">
              <%= fa_icon 'smile-o', class: 'blue-black' %>
              復習履歴
              <%= fa_icon 'smile-o', class: 'blue-black' %>
            </li>
          </ol>
        </div>
        <div class='pt10'>
          <%= high_chart("復習", @chart) %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/sidebar' %>
  </div>
  <footer class="sticky-footer mb0">
    <p class="breadcrumb p20 text-center mb0">
      <span class='blue-black animate-footer-span' href="#">Copyright © RootedLearning 2018</span>
    </p>
  </footer>
</div>
