<% provide(:title, @learning.title) %>
<%= render partial: 'common/header' %>
<div class='row m0 p0' id="main-wrapper">
  <div id='main-container' class='clearfix'>
    <div id="content" class='m0a main learning-main'>
      <% if current_user?(@user) %>
        <%= render 'edit_modal' %>
      <% end %>
      <div class='learning-main-header'>
        <%= image_tag user_avatar_or_default(@user), class: 'avatar-img' %>
        <%= link_to "@#{@user.name}", user_path(@user.name), class: 'user-name' %>
        <span class='learning-created-at'><%= @learning.created_at.strftime('%Y年%m月%d日') %>に追加</span>
        <span class='learning-created-at'></span>
        <% if current_user?(@user) %>
          <button class="learning-new-modal learning-edit-modal pull-right white" data-toggle="modal" data-target="#learning-edit-modal">
            編集
          </button>
        <% end %>
      </div>
      <h1 class='text-left'><%= @learning.title %></h1>
      <div class='learning-tag-list'>
        <% @learning.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name) %>
        <% end %>
      </div>
      <% @learning.images.each do |image| %>
        <%= link_to image.url, target: '_blank' do %>
          <%= image_tag image, class: 'learning-img' %>
        <% end %>
      <% end %>
      <div class='blue-black learning-description'>
        <%= simple_format(markdown(@learning.description)) %>
      </div>
      <div class='item-wrapper'>
        <div class='item-header'>
          <ol class="breadcrumb p20 mb0">
            <li class="breadcrumb-item active blue-black user-main-comparison">
              <%= fa_icon 'smile-o', class: 'blue-black' %>
              <% if @learning.finished %>
                復習完了
              <% elsif @learning.next_review_date > Date.today %>
                次回復習予定日：<%= @learning.next_review_date.strftime('%Y年%m月%d日') %>
              <% else %>
                今すぐ復習!!
              <% end %>
              <%= fa_icon 'smile-o', class: 'blue-black' %>
            </li>
          </ol>
        </div>
        <div class='pt10'>
          <%= high_chart("復習", @chart) %>
        </div>
      </div>
      <div class='flex mb10'>
        <div id=<%= "learning-like-container#{@learning.id}" %> class='learning-like-container flex'>
          <%= render 'like', learning: @learning %>
        </div>
        <% if current_user?(@user) %>
          <%= link_to '削除', @learning, class: 'white learning-delete-button', method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
      <div class='divide-main'></div>
      <div class='comment-header-space'></div>
      <div class='comment-wrapper'>
        <div class='past-comment-wrapper'>
          <%= render @comments, user: @user %>
        </div>
        <%= render 'post_comment' %>
      </div>
    </div>
    <%= render 'review_sidebar' %>
  </div>
  <footer class="sticky-footer mb0">
    <p class="breadcrumb p20 text-center mb0">
      <span class='blue-black animate-footer-span' href="#">Copyright © QtQ 2018</span>
    </p>
  </footer>
</div>
<%= hidden_field_tag :user_id_for_webpush, @learning.user_id, class: 'user_id_for_webpush' %>
<%= hidden_field_tag :current_user_id_for_webpush, logged_in? ? current_user.id : 0, class: 'current_user_id_for_webpush' %>
