<% user = comment.user %>
<div class='each-comment-box' id=<%= 'comment' + "#{comment.id}" %>>
  <div class='comment-header flex'>
    <%= image_tag user_avatar_or_default(user), class: 'comment-user-image' %>
    <div class='comment-user-info'>
      <div class='comment-user-name-box'>
        <%= link_to user_path(name: user.name), class: 'comment-user-name' do %>
          <%= user.name %>
        <% end %>
      </div>
      <div class='comment-user-learning-num'>
        <%= user.learnings.count %><span class='comment-user-leanring-unit'>learnings</span>
      </div>
    </div>
    <div class='comment-time-box'>
      <div class='comment-time clearfix'>
        <span class='pull-right'><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></span>
      </div>
      <div class='comment-contribution'>
        <% if comment.user_id == current_user.id %>
          <span><%= comment.likes_count || 0 %></span>
          <span class='comment-contribution-unit'>いいね</span>
          <span class='comment-edit-modal-button' data-toggle="modal" data-target=<%= "#comment-modal#{comment.id}" %>>編集</span>
          <%= link_to '削除', comment, class: 'comment-delete-button', method: :delete, remote: true, data: {confirm: '本当に削除しますか？'} %>
        <% else %>
          <div id=<%= "comment-like-container#{comment.id}" %> class='comment-like-container flex'>
            <%= render 'comments/like', comment: comment %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='comment-body'>
    <div class='comment-body-inner markdown'>
      <%= simple_format(markdown(comment.body)) %>
    </div>
  </div>
</div>
<%= render 'comments/edit_modal', comment: comment %>
