  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    <% if params[:action] == 'edit' %>
      <div class="upload-box">
        <%= f.label :avatar, "プロフィール画像"%>
        <h4 class="upload-button">クリックまたは画像をドロップ</h4>
        <input type="file" name="file" id="avatar-file">
        <div id="avatar-preview"></div>
      </div>
    <% else %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    <% end %>
    <%= f.submit yield(:btn_text), class: "signup-submit" %>
  <% end %>
