<div class='each-user-list'>
  <%= image_tag user_avatar_or_default(current_user), class: "user-list-avatar" %>
  <div>
    <div>
      <%= link_to user.name, user, class: 'user-list-name' %>
    </div>
    <% if user.introduction.present? %>
      <div class='user-list-introduction'>
        <%= simple_format(markdown(user.introduction).html_safe) %>
      </div>
    <% end %>
  </div>
  <% if logged_in? && !current_user?(user) %>
    <div id=<%= "follow_form#{user.id}" %> class='follow_form'>
    <% if current_user.following?(user) %>
      <%= render 'unfollow', user: user %>
    <% else %>
      <%= render 'follow', user: user %>
    <% end %>
    </div>
  <% end %>
</div>
