<% provide(:title, "RoootedLearningの登録") %>
<div class="link-to-root">
  <%= link_to root_path do %>
    <%= image_tag "logo-black.png" %>
  <% end %>
</div>
<div class="signup-box">
  <h2>アカウントを作成</h2>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.text_field :name, class: 'mdl-textfield__input', placeholder: 'ユーザーネーム...' %>
      <% f.label :name, class: 'mdl-textfield__label' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.email_field :email, class: 'mdl-textfield__input', placeholder: 'メールアドレス...' %>
      <% f.label :email, class: 'mdl-textfield__label' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.password_field :password, class: 'mdl-textfield__input', placeholder: 'パスワード...' %>
      <% f.label :password, class: 'mdl-textfield__label' %>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.password_field :password_confirmation, class: 'mdl-textfield__input', placeholder: 'パスワードの確認...' %>
      <% f.label :password_confirmation, class: 'mdl-textfield__label' %>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored user-new-button" style="margin-bottom: 23px;">
      作成
    </button>
  <% end %>
  <div class="a-divider"><h5>アカウントを持っている方は</h5></div>
  <%= link_to login_path do %>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style='margin-left: 81px;'>
      ログイン画面
    </button>
  <% end %>
</div>
