<% provide(:title, "#{@user.name}さんのページ") %>
<% if logged_in? %>
  <%= render partial: 'common/header' %>
<% else %>
  <%= render partial: 'common/root_header' %>
<% end %>

<div class='row m0 p0' id="main-wrapper">
  <div id='main-container' class='clearfix'>
    <div id="content" class='pt10 pl10 pr10 m0a main'>
      <ol class="breadcrumb p20 phone-header">
        <li class="breadcrumb-item">
          <span class='blue-black' href="#">@<%= @user.name %>さんのページ</span>
        </li>
      </ol>
      <div class='item-wrapper'>
        <div class='item-header'>
          <ol class="breadcrumb p20 mb0">
            <li class="breadcrumb-item active blue-black user-main-comparison">
              <%= fa_icon 'smile-o', class: 'blue-black' %>
              Quantity teaches Quality <!-- Quantity is the Quality of the mother -->
              <%= fa_icon 'smile-o', class: 'blue-black' %>
            </li>
          </ol>
        </div>
        <%= high_chart("比較", @comparison_chart) %>
      </div>
      <div class='item-wrapper'>
        <div class='item-header'>
          <ol class="breadcrumb p20 mb0">
            <li class="breadcrumb-item active blue-black user-main-schedule">
              <%= fa_icon 'smile-o', class: 'blue-black' %>
              Schedule
              <%= fa_icon 'smile-o', class: 'blue-black' %>
            </li>
          </ol>
        </div>
        <%= high_chart("予定", @schedule_chart) %>
      </div>
    </div>
    <%= render partial: 'shared/sidebar' %>
  </div>
  <footer class="sticky-footer mb0">
    <p class="breadcrumb p20 text-center mb0">
      <span class='blue-black animate-footer-span' href="#">Copyright © QtQ 2018</span>
    </p>
  </footer>
</div>
