<% provide(:title, "#{@user.name}さんのページ") %>
<% if logged_in? %>
  <%= render partial: 'common/header' %>
<% else %>
  <%= render partial: 'common/root_header' %>
<% end %>

<div class='row m0 p0' id="main-wrapper">
  <div id='main-container' class='clearfix'>
    <div id="content" class='pt10 pl10 pr10 m0a main'>
      <ol class="breadcrumb p20 phone-header">
        <li class="breadcrumb-item">
          <span class='blue-black' href="#">@<%= @user.name %>さんのページ</span>
        </li>
      </ol>
      <div class='item-wrapper'>
        <div class='item-header'>
          <ol class="breadcrumb p20 mb0">
            <li class="breadcrumb-item active blue-black user-main-comparison">
              <%= fa_icon 'smile-o', class: 'blue-black' %>
              Comparison
              <%= fa_icon 'smile-o', class: 'blue-black' %>
            </li>
          </ol>
        </div>
        <%= high_chart("比較", @chart2) %>
      </div>
      <div class='item-wrapper'>
        <div class='item-header'>
          <ol class="breadcrumb p20 mb0">
            <li class="breadcrumb-item active blue-black user-main-schedule">
              <%= fa_icon 'smile-o', class: 'blue-black' %>
              Schedule
              <%= fa_icon 'smile-o', class: 'blue-black' %>
            </li>
          </ol>
        </div>
        <%= high_chart("予定", @chart3) %>
      </div>
    </div>
    <div id="sidebar" class='sidebar'>
      <div class='back-white pb10'>
        <div class='mb10'>
          <%= image_tag user_avatar_or_default(@user), class: 'side-user-image animated pulse' %>
        </div>
        <div class='mb10'>
          <h2 class='side-user-name'>@<%= @user.name %></h2>
          <div class="profile-stats mb10">
            <ul class="">
              <li class="profile-stats-list">
                <a class='profile-stats-link'>
                  <span class="profile-stats-span">学習時間</span>
                  <span class="profile-stats-span">1,106</span>
                </a>
              </li>
              <li class="profile-stats-list">
                <a class='profile-stats-link'>
                  <span class="profile-stats-span">フォロー</span>
                  <span class="profile-stats-span"><%= @user.following.count %></span>
                </a>
              </li>
              <li class="profile-stats-list-follower">
                <a class='profile-stats-link'>
                  <span class="profile-stats-span">フォロワー</span>
                  <span class="profile-stats-span" id='followers'><%= @user.followers.count %></span>
                </a>
              </li>
            </ul>
          </div>
          <% if logged_in? && !current_user?(@user) %>
            <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= render 'unfollow' %>
            <% else %>
              <%= render 'follow' %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='mb10 back-white mt10 pb10'>
        <%= image_tag 'ex.png' %>
      </div>
    </div>
    <!-- sidebar -->
  </div>
  <footer class="sticky-footer mb0">
    <p class="breadcrumb p20 text-center mb0">
      <span class='blue-black animate-footer-span' href="#">Copyright © RootedLearning 2018</span>
    </p>
  </footer>
</div>
