<div id="page-top">
  <div id="wrapper" class='wrapper'>
      <nav id="sidebar" class='sidebar'>
          <ul class="list-unstyled components">
              <li class='sidebar-list'><a href="#">
                <%= fa_icon 'folder', class: 'white' %>
                <span class='thin-white'>Home</span></a></li>
              <li class='sidebar-list'><a href="#">
                <%= fa_icon 'folder', class: 'white' %>
                <span class='thin-white'>About</span></a></li>
              <li class='sidebar-list'><a href="#">
                <%= fa_icon 'folder', class: 'white' %>
                <span class='thin-white'>About</span></a></li>
          </ul>
      </nav>
      <div id="content" class='p10 clearfix m0a main'>
        <ol class="breadcrumb p20">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Charts</li>
        </ol>
        <div class='item-wrapper'>
          <div class='item-header'>
            <ol class="breadcrumb p20 mb0">
              <li class="breadcrumb-item active">Chart1</li>
            </ol>
          </div>
          <%= high_chart("chart1", @chart) %>
        </div>
        <div class='item-wrapper left-item'>
          <div class='item-header'>
            <ol class="breadcrumb p20 mb0">
              <li class="breadcrumb-item active">Chart2</li>
            </ol>
          </div>
          <%= high_chart("chart2", @chart2) %>
        </div>
        <div class='item-wrapper right-item'>
          <div class='item-header'>
            <ol class="breadcrumb p20 mb0">
              <li class="breadcrumb-item active">Chart3</li>
            </ol>
          </div>
          <%= high_chart("chart3", @chart3) %>
        </div>
        <footer class="sticky-footer mb0">
          <p class="breadcrumb p20 text-center mb0">
            <span href="#">Copyright © RootedLearning 2018</span>
          </p>
        </footer>
      </div>
  </div>
</div>
