<div id="sidebar" class='sidebar'>
  <div class='pb10'>
    <div class='mb10'>
      <%= image_tag user_avatar_or_default(@user), class: 'side-user-image animated pulse' %>
    </div>
    <div class='mb10'>
      <h2 class='side-user-name'>@<%= @user.name %></h2>
      <div class="profile-stats mb10">
        <ul class="">
          <li class="profile-stats-list">
            <% if @user.learnings.present? %>
              <%= link_to user_learnings_path(@user.name), class: 'profile-stats-link' do %>
                <span class="profile-stats-span">学習件数</span>
                <span class="profile-stats-span"><%= number_with_delimiter(@user.learnings.count) %></span>
              <% end %>
            <% else %>
              <span class="profile-stats-span">学習件数</span>
              <span class="profile-stats-span" id='following'>0</span>
            <% end %>
          </li>
          <li class="profile-stats-list">
            <% if @user.following.present? %>
              <%= link_to following_user_path(@user.name), class: 'profile-stats-link' do %>
                <span class="profile-stats-span">フォロー</span>
                <span class="profile-stats-span" id='following'><%= @user.following.count %></span>
              <% end %>
            <% else %>
              <span class="profile-stats-span">フォロー</span>
              <span class="profile-stats-span" id='following'>0</span>
            <% end %>
          </li>
          <li class="profile-stats-list-follower">
            <% if @user.followers.present? %>
              <%= link_to followers_user_path(@user.name), class: 'profile-stats-link' do %>
                <span class="profile-stats-span">フォロワー</span>
                <span class="profile-stats-span" id='followers'><%= @user.followers.count %></span>
              <% end %>
            <% else %>
              <span class="profile-stats-span">フォロワー</span>
              <span class="profile-stats-span" id='followers'>0</span>
            <% end %>
          </li>
        </ul>
      </div>
      <% if logged_in? && !current_user?(@user) %>
        <div style='margin-left: 100px' id=<%= "follow_form#{@user.id}" %>>
          <% if current_user.following?(@user) %>
            <%= render partial: 'users/unfollow', locals: { user: @user } %>
          <% else %>
            <%= render partial: 'users/follow', locals: { user: @user } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @user.introduction.present? %>
    <div class='introduction'>
      <%= simple_format(@user.introduction) %>
    </div>
  <% end %>
  <% if @user.learnings.present? %>
    <div class='user-learning-index'>
      <% if learnings = @user.learnings.review_today %>
        <div class='recent-learning-header'>
          <%= fa_icon 'arrow-down', class: 'pl10' %>
          <span class='ml10'>今日の復習</span>
          <%= fa_icon 'arrow-down' %>
        </div>
        <div class='today-reviews-list-wrapper'>
          <% learnings.each do |learning| %>
            <%= link_to learning.title, learning_path(learning) %>
          <% end %>
        </div>
      <% end %>
      <div class='recent-learning-header'>
        <%= fa_icon 'arrow-down', class: 'pl10' %>
        <span class='ml10'>最近の学習</span>
        <%= fa_icon 'arrow-down' %>
      </div>
      <% @user.learnings.reverse.take(10).each do |learning| %>
        <%= link_to learning.title, learning_path(learning) %>
      <% end %>
    </div>
  <% end %>
  <%#= image_tag 'ex.png' %>
</div>
