<% provide(:title, @title) %>
<% if logged_in? %>
  <%= render partial: 'common/header' %>
<% else %>
  <%= render partial: 'common/root_header' %>
<% end %>
<div class='row m0 p0'>
  <div class='user-list-page'>
    <div class='user-list-header'>
      <span class='user-list-description'><%= @title %></span>
    </div>
    <div class='user-list'>
      <%= render @learnings %>
      <% if @learnings.blank? %>
        <h2>
          <%= fa_icon 'smile-o' %>
          No Result
          <%= fa_icon 'smile-o' %>
        </h2>
      <% end %>
    </div>
    <%= paginate @learnings %>
  </div>
</div>
