<% style = activity.pushed? ? '' : 'background-color:#d3edfb;' %>
<li style=<%= style %>>
  <%= link_to activity_path(activity), class: 'notice-item', method: :patch do %>
    <%= image_tag user_avatar_or_default(activity.active_user), class: 'notice-item-avatar' %>
    <div class='notice-sentence-wrapper'>
      <div class='notice-sentence'>
        <% case activity.type %>
        <% when 'LearningLikeActivity' %>
          <span class='bold'><%= activity.active_user.name %></span>があなたの記事<span class='bold'>「<%= activity.learning.title %>」</span>に<span class='bold'>いいね</span>しました。
        <% when 'FollowActivity' %>
          <span class='bold'><%= activity.active_user.name %></span>があなたを<span class='bold'>フォロー</span>しました。
        <% when 'CommentActivity' %>
          <span class='bold'><%= activity.active_user.name %></span>があなたの記事<span class='bold'>「<%= activity.learning.title %>」</span>に<span class='bold'>コメント</span>しました。
          <% end %>
      </div>
      <div class='notice-sentence-time'>
        <%= activity.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>
    </div>
  <% end %>
</li>
