<div class="navbar navbar-default mb0 header-nav">
  <div class='header-inner-box'>
    <ul class="nav white navbar-nav">
      <li><a href="/" class='p0'><%= image_tag "logo-white.png", class: 'header-logo' %></a></li>

  <!--
  サイドバー隠すボタン、とりあえずはお蔵入り
       <li>
        <button type="button" id="sidebarCollapse" class="navbar-btn pull-left hidden-xs">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </li> -->
    </ul>
    <% if logged_in? %>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button pull-right avatar-dropdown" style='margin-top:6px;'>
        <%= image_tag user_avatar_or_default(current_user), class: "avatar-img" %>
        <span class="caret mr10 img-hover-gray"></span>
      </button>

      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect p0" id='header-right-dropdown' style='border: solid 1px #169ae2' for="demo-menu-lower-right">
          <li><%= link_to 'マイページ', user_path(current_user), class: 'mdl-menu__item' %></li>
          <li><%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'mdl-menu__item' %></li>
          <li role="separator" class="divider" style="border: solid 0.3px #87b1c7;"></li>
          <li><%= link_to 'ログアウト', logout_path, class: 'mdl-menu__item', method: :delete %></li>
      </ul>
    <% elsif !(params[:controller] == 'sessions' && params[:action] == 'new') %>
      <ul class="pull-right header-link-list">
        <li><%= link_to 'ログイン', login_path, style: 'margin-right:10px;' %></li>
      </ul>
    <% end %>
    <ul class="pull-right header-link-list">
      <% if logged_in? %>
        <li><%= link_to '学習の登録', root_path %></li>
      <% elsif !(params[:controller] == 'users' && params[:action] == 'new') %>
        <li style='margin-bottom: 18px;'><%= link_to 'ユーザー登録', new_user_path, class: 'header-link-new-user' %></li>
      <% end %>
    </ul>
  </div>
</div>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
