<div class="navbar navbar-default mb0 header-nav">
  <div class='header-inner-box'>
    <ul class="nav white navbar-nav">
      <li><a href="/" class='p0'><%= image_tag "logo-white.png", class: 'header-logo' %></a></li>
      <li>
        <button class="header-left-menu-button" id="demo-menu-lower-left">
          <span class="caret header-left-menu-caret"></span>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-left mdl-js-ripple-effect p0" id='header-left-dropdown' style='border: solid 1px #169ae2' for="demo-menu-lower-left">
            <li class='mdl-menu__item header-left-menu-list header-left-menu-list-bell'>
              <%= fa_icon 'bell', class: 'blue-black' %>
              <%= link_to 'タイムライン', timeline_learnings_path %>
            </li>
            <li class='mdl-menu__item header-left-menu-list'>
              <%= fa_icon 'circle', class: 'blue-black' %>
              <%= link_to 'ユーザー一覧', users_path %>
            </li>
            <li class='mdl-menu__item header-left-menu-list'>
              <%= fa_icon 'asterisk', class: 'blue-black' %>
              <%= link_to 'QtQについて', learning_path(1) %>
            </li>
        </ul>
      </li>
      <li>
        <%= form_tag(search_learnings_path, method: "get", class: 'learning-search-form') do %>
          <span class="fa fa-search learning-search-submit"></span>
          <%= text_field_tag :word, '', class: 'learning-search-field', placeholder: '学習検索...' %>
        <% end %>
      </li>

    </ul>
    <% if logged_in? %>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button pull-right avatar-dropdown" style='margin-top:6px;'>
        <%= image_tag user_avatar_or_default(current_user), class: "avatar-img" %>
        <span class="caret mr10 img-hover-gray"></span>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect p0" id='header-right-dropdown' style='border: solid 1px #169ae2' for="demo-menu-lower-right">
          <li><%= link_to 'マイページ', user_path(current_user.name), class: 'mdl-menu__item' %></li>
          <li><%= link_to 'プロフィール編集', edit_user_path(current_user.name), class: 'mdl-menu__item' %></li>
          <li><%= link_to 'いいねした学習', like_user_path(current_user.name), class: 'mdl-menu__item' %></li>
          <li role="separator" class="divider" style="border: solid 0.3px #87b1c7;"></li>
          <li><%= link_to 'ログアウト', logout_path, class: 'mdl-menu__item', method: :delete %></li>
      </ul>
    <% elsif !(params[:controller] == 'sessions' && params[:action] == 'new') %>
      <ul class="pull-right header-link-list header-login-ul header-login-link">
        <li><%= link_to 'ログイン', login_path %></li>
      </ul>
    <% end %>
    <% if logged_in? %>
      <ul class="pull-right header-link-list">
        <li class='white learning-new-modal header-learning-new-modal' data-toggle="modal" data-target="#learning-new-modal">
          学習の登録
        </li>
        <%= render 'common/create_learning_modal' %>
        <li class='header-notice-number-wrapper'>
          <span id="demo-menu-lower-right2" class="header-notice-number mdl-js-button"><%= current_user.passive_activities.not_checked.count %></span>
          <%= render 'common/notice' %>
        </li>
      </ul>
    <% elsif !(params[:controller] == 'users' && params[:action] == 'new') %>
      <ul class='pull-right header-link-list header-login-ul'>
        <li><%= link_to 'ユーザー登録', new_user_path, class: 'header-link-new-user' %></li>
      </ul>
    <% end %>
  </div>
</div>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% if logged_in? %>
  <%= hidden_field_tag :user_name, current_user.name, class: 'user_name_for_js' %>
<% end %>
