<div class="navbar navbar-default mb0 header-nav">
  <div class='header-inner-box'>
    <ul class="nav white navbar-nav">
      <li><a href="/" class='p0'><%= image_tag "logo-white.png", class: 'header-logo' %></a></li>

      <li>
        <button class="header-left-menu-button" id="demo-menu-lower-left">
          <span class="caret header-left-menu-caret"></span>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-left mdl-js-ripple-effect p0" id='header-left-dropdown' style='border: solid 1px #169ae2' for="demo-menu-lower-left">
            <li><%= link_to 'タイムライン', timeline_learnings_path, class: 'mdl-menu__item' %></li>
            <li><%= link_to 'ユーザー一覧', users_path, class: 'mdl-menu__item' %></li>
            <li><%= link_to 'QtQについて', learning_path(1), class: 'mdl-menu__item' %></li>
        </ul>
      </li>
      <li>
        <%= form_tag(search_learnings_path, method: "get", class: 'learning-search-form') do %>
          <span class="fa fa-search learning-search-submit"></span>
          <%= text_field_tag :word, '', class: 'learning-search-field', placeholder: '学習検索...' %>
        <% end %>
      </li>

    </ul>
    <% if logged_in? %>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button pull-right avatar-dropdown" style='margin-top:6px;'>
        <%= image_tag user_avatar_or_default(current_user), class: "avatar-img" %>
        <span class="caret mr10 img-hover-gray"></span>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect p0" id='header-right-dropdown' style='border: solid 1px #169ae2' for="demo-menu-lower-right">
          <li><%= link_to 'マイページ', user_path(current_user.name), class: 'mdl-menu__item' %></li>
          <li><%= link_to 'プロフィール編集', edit_user_path(current_user.name), class: 'mdl-menu__item' %></li>
          <li><%= link_to 'いいねした学習', like_user_path(current_user.name), class: 'mdl-menu__item' %></li>
          <li role="separator" class="divider" style="border: solid 0.3px #87b1c7;"></li>
          <li><%= link_to 'ログアウト', logout_path, class: 'mdl-menu__item', method: :delete %></li>
      </ul>
    <% elsif !(params[:controller] == 'sessions' && params[:action] == 'new') %>
      <ul class="pull-right header-link-list">
        <li><%= link_to 'ログイン', login_path, style: 'margin-right:10px;' %></li>
      </ul>
    <% end %>
    <ul class="pull-right header-link-list">
      <% if logged_in? %>
        <li class='white learning-new-modal' data-toggle="modal" data-target="#learning-new-modal">
          学習の登録
        </li>
        <div class="modal fade" id="learning-new-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title text-center" id="exampleModalLabel">日々の学習を記録しましょう！</h5>
              </div>
              <div class='learning-new-modal-body'>
                <div class='modal-inner-box'>
                  <div class='modal-image-box'>
                    <%= image_tag user_avatar_or_default(current_user), class: "avatar-img learning-new-modal-img" %>
                  </div>
                  <div>
                    <%= fa_icon 'angle-left', class: 'modal-angle-left' %>
                  </div>
                  <div class='modal-form-box'>
                    <%= form_for(Learning.new) do |f| %>
                      <%= hidden_field_tag :url, request.url %>
                      <div class="mdl-textfield mdl-js-textfield" style='width: 100%'>
                        <%= f.text_field :title, class: 'mdl-textfield__input p10 learning-title-for-js', placeholder: 'タイトル...', required: true %>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield form-group" style='width: 100%'>
                        <%= f.text_area :description, class: 'form-control learning-modal-text-area', rows: '8', placeholder: '学習のメモなど...' %>
                      </div>
                      <ul id='learning-tags'></ul>
                      <div class='clearfix proficiency-slider-box'><%= f.range_field :proficiency, class: "mdl-slider mdl-js-slider", min: 0, max: 100, value: 80, tabindex: 0, id: 'learning-slider' %>
                      </div>
                      <div id="learning-images-preview"></div>
                      <div class="upload-box pull-left">
                        <%= fa_icon 'image', class: 'learning-upload-button learning-image-icon learning-image-button' %>
                        <%= fa_icon 'trash', class: 'learning-trash-image' %>
                        <%= f.file_field :images, id: 'learning-image-files', multiple: true %>
                      </div>

<!-- 非公開機能は一旦見送り、一応コードは残しておく -->
<!--                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect pull-left public-checkbox" for="public-checkbox">
                        <span class='public-letter'>公開</span>
                        <%#= f.check_box :public_flag, class: "mdl-switch__input", id: "public-checkbox", checked: true %>
                        <span class="mdl-switch__label"></span>
                      </label> -->

                      <div class='pull-left blue-black proficiency-level header-study-time'>
                        <span>習熟度</span><span id='study-time'>80%</span>
                        <div class="header-proficiency-level-box">
                          <p class="header-proficiency-level-comment">習熟度によって次回の復習日が変わります</p>
                        </div>
                      </div>
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right mr10 post-learning-submit">
                        記録をつける
                      </button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% elsif !(params[:controller] == 'users' && params[:action] == 'new') %>
        <li style='margin-bottom: 18px;'><%= link_to 'ユーザー登録', new_user_path, class: 'header-link-new-user' %></li>
      <% end %>
    </ul>
  </div>
</div>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
