<!DOCTYPE html>
<html>
  <head>
    <title>Rootedlearning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'common/header' %>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
          <%= yield %>
        </div>
      </div>
      <footer class='row text-center'>
        <p>(C) Ari 2018</p>
      </footer>
    </div>
  </body>
</html>
