<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.png') %>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
